languate: c
os: linux
sudo: false
branches:
  only:
    - master
addons:
  apt:
    packages:
    - libgcrypt-dev
    - libgnutls-dev
    - doxygen
    - graphviz
install:
  - ./init.sh local libs install
  - export LD_LIBRARY_PATH=$TRAVIS_BUILD_DIR/compiled/lib
  - export C_INCLUDE_PATH=$TRAVIS_BUILD_DIR/compiled/include
script:
  - make
  - ./test.sh
  - ./lmwd -v
after_success:
  - ./gendoc.sh
